<!doctype html>
<html lang="en-US">
<head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.min.css" type="text/css">

<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-api-0.13.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.min.js"></script>
<script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.min.js"></script>





  </head>

  <body>

    <div class="input">
      <form id='ticker' method='post' action='index' >
	<span id="ticklab">Ticker symbol:</span>
	<input type='text' name='ticker_text' />
	<input type='submit' value='▶' />
      </form>
    </div>
    
    {{ bokeh_script|safe }}
    {{ bokeh_div|safe }}
    
  </body>
  
</html>



